h2{
    text-align: center;
}
#content-left{
    margin: 0px;
    padding: 0px;
    width: 50%;
    float: left;
    margin-bottom: 5px;

}
#content-right{
    width: 50%;
    background-color: blanchedalmond;
    float: right;
    margin-bottom: 5px;
}
#noi-dung{
    border-top: 0px  blue;
    background-color: lightcyan;
    text-align: left 20px;
    clear: both;
    min-height: 40px;
    text-align: center;
    line-height: 35px;
}
#img{
    text-align: center;
}
.menu{
    min-height: 50px;
}
.menu>ul>li{
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 30px;
}

.menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color:white;
    text-align: center;
}

.menu>ul>li>a{
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
    color:blue;
    padding: 0 10px;
    line-height: 40px;
    font-weight: bolder;
    display: block;
}

.menu>ul>li>a:hover{
    color: red;
}

.menu>ul>li:hover>ul{
    display: block;
}

.menu ul ul a{
    display: block;
    line-height: 30px;
    color: blue;
    text-decoration: none;
    list-style: none;
    font-size: larger;
    font-variant: small-caps;
    padding: 0 10px;
}

.menu ul ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray; 
    position: absolute;
    display: none;
}

.menu>ul>ul>a{
    line-height: 30px;
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
  
    padding: 0 10px;
}
.menu ul ul a:hover{
    background-color: green;
    color: white;
}

.menu>ul>li:hover>ul{
    display: block;
}
#anh{
    text-align: center;
}